Resolving Relative URLs

I'd like to clarify exactly how to resolve relative URLs in a Siren representation. I believe we can simply follow the rules from [Section 5.2 of RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2), which makes this more a problem of [establishing a base URL](https://datatracker.ietf.org/doc/html/rfc3986#section-5.1). Here are my thoughts on the few spots to consider:

- `href`s in the top-level `links` and `actions`
  - Base URI is the one used to retrieve the entity (see [Section 5.1.3 of RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#section-5.1.3)).
- `href`s in sub-`entities` (including their `links` and `actions`)
  - Recursively check encapsulating entities' `self` links for an absolute `href`. If one exists, use that as the base URI. See [Section 5.1.2 of RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#section-5.1.2).
  - Otherwise, the base URI is the one used to retrieve the top-level entity.